parameters:
	ignoreErrors:
		-
			message: "#^Property MarekNocon\\\\ComposerStabilityPatterns\\\\StabilityPatternsPlugin\\:\\:\\$stabilityConfig \\(array\\<string, string\\>\\) does not accept mixed\\.$#"
			count: 1
			path: src/StabilityPatternsPlugin.php
